<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="brand">Topsy</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form id="search-form" class="form">
            <span class="input-append">
                <input id="search-input" type="text" placeholder="Search">
                <button id="search-submit" type="submit" class="btn"><i class="icon-search"></i></button>
            </span>
        </form>
    </div>
    <div class="row">
        <a id="trending-button" href="/top/100/all" class="btn">Trending Today</a>
    </div>
</div>